{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BLOG</title>
		<link rel="stylesheet" href="{% static 'styles.css'%}">
		<!--<link rel="stylesheet" href="{% static 'articles/styles/styles.css'%}">
		<link rel="stylesheet" href="{% static 'blog/styles/styles.css'%}"> This is how to link up to those static folders in each app-->
	</head>

	<body>
	</body>
</html>